canvas {
    border: 1px solid black;
    
}

.canvasHeader {
    background: #64acdf;
    overflow: hidden;
    display: flex;
    height: 30%;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
}

.canvasheaderbody {
    display: flex;
    flex-direction: column;
    height: 10%;
}

.canvasHeaderTitle {
    font-size: 1.8em;
    font-family: 'Satisfy', cursive;
    text-align: center;
    width: 100%;
    margin-top: 2px;
    height: 10%;
    color: rgb(25, 23, 61);
}

.canvasHeaderTitle2 {
    height: 10%;
    font-size: 1.5em;
    font-family: 'Satisfy', cursive;
    text-align: center;
    width: 100%;
    /* margin-top: 20px; */
}

.canvasp {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-align: start;
    font-weight: bold; /* Adicionando negrito */
}

.canvasBory {
    background: #173245;
    overflow: hidden;
    display: flex;
    height: 70%;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
}

.controls {
    text-align: center;
    margin-top: 10px;
}
.control-button {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    background: rgb(77, 145, 209);
}

#scoreDisplay {
    /* position: absolute;
    top: 20px;
    left: 20px; */
    color: #081b28;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold; /* Adicionando negrito */
}

@media (max-width: 768px) {
    #scoreDisplay {
        font-size: 1.1em;
    }

    .canvasHeaderTitle {
        font-size: 1.6em;
    }
    
    .canvasHeaderTitle2 {
        font-size: 1.1em;
    }
    
    .canvasp {
        font-size: 1em;
    }
    
}
